<!DOCTYPE html>
<html>
  <head>
    <title>RateMyCCI</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!-- this loads this file for all html files since this is like this parent html file -->
    
    <!-- Bootstrap core CSS -->
    <%= stylesheet_link_tag "bootstrap.min.css" %> 
    
    <!-- Bootstrap core JavaScript -->
    <%= javascript_include_tag 'jquery.slim.min.js' %>
    <%= javascript_include_tag 'bootstrap.bundle.min.js' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
