<p>
    <strong>Title:</strong>
    <%= @course.professor_name %>
</p>

<p>
    <strong>Text:</strong>
    <%= @course.overall_rating %>
</p>

<p>
    <strong>Text:</strong>
    <%= @course.professor_rating %>
</p>

<p>
    <strong>Text:</strong>
    <%= @course.difficulty_rating %>
</p>

<p>
    <strong>Text:</strong>
    <%= @course.language %>
</p>

<p>
    <strong>Text:</strong>
    <%= @course.textbook_req %>
</p>

<p>
    <strong>Text:</strong>
    <%= @course.computer_req %>
</p>

<p>
    <strong>Text:</strong>
    <%= @course.presentations %>
</p>

<p>
    <strong>Text:</strong>
    <%= @course.tests %>
</p>

<p>
    <strong>Text:</strong>
    <%= @course.essays %>
</p>

<p>
    <strong>Text:</strong>
    <%= @course.comment %>
</p>
